In [4]:
from Python_files.functions import *
from Python_files.libraries import *

In [18]:
ciudades=pd.read_csv("Infraestructura/RAW/ciudades.csv")

In [19]:
limpiar=["Name(Ukranian)","Oblast","Population(2001)","Population_Change","Country","Full_address","Geocoded_adress","Point","Altitude"]
ciudades_clean=ciudades.drop(columns=limpiar)
ciudades_clean["inf_type"]="City/Town"
rename=ciudades_clean.rename(columns={"""Population""":"population"})
ciudades_1 = rename[['name', 'latitude','longitude','inf_type','population']]


ciudades_1.to_csv("Infraestructura/CSV/Cities1.csv",index=False)
ciudades_1.head()

/home/jj/.pyenv/versions/3.9.5/envs/CEF/lib/python3.9/site-packages/pandas/core/internals/blocks.py:2323: RuntimeWarning: invalid value encountered in cast
  values = values.astype(str)

      name   latitude  longitude   inf_type population
0     Kyiv  50.450034  30.524136  City/Town    2962180
1  Kharkiv  49.992318  36.231015  City/Town    1433886
2   Odessa  46.484302  30.732288  City/Town    1015826
3   Dnipro  48.468022  35.041771  City/Town     980948
4  Donetsk  48.015875  37.801341  City/Town     905364

In [20]:
df=pd.read_excel("./Infraestructura/RAW/ukr_populated-places_coordinates_20221005.xlsx",sheet_name="Locations")

In [21]:
lista=[
"ADM4_PCODE",
"ADM3_EN",
"ADM3_UA",
"ADM3_RU",
"ADM3_PCODE",
"ADM2_EN",
"ADM2_UA",
"ADM2_RU",
"ADM2_PCODE",
"ADM1_UA",
"ADM1_RU",
"ADM1_PCODE",
"ADM0_EN",
"ADM0_UA",
"ADM0_RU",
"ADM0_PCODE",
"ADM1_EN",
"Populated place name_UA",
"Populated place name_RU"
]

clean=df.drop([0])
no_cols=clean.drop(columns=lista)
no_cols["inf_type"]="City/Town"
ciudades_2=no_cols.rename(columns={"""Populated place name_EN""":"name"})

ciudades_2.to_csv("./Infraestructura/CSV/Cities2.csv",index=False)
ciudades_2.head()

           name   latitude  longitude   inf_type
1    Simferopol  44.947206  34.100458  City/Town
2  Aeroflotskyi   45.02105  34.001587  City/Town
3    Hresivskyi  45.007763  34.029054  City/Town
4       Bitumne  45.019488  34.044597  City/Town
5   Komsomolske  45.021625  34.019076  City/Town

In [22]:
air=pd.read_csv("Infraestructura/RAW/ua-airports.csv")
air.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,country_name,iso_country,...,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,score,last_updated
0,#meta +id,#meta +code,#loc +airport +type,#loc +airport +name,#geo +lat,#geo +lon,#geo +elevation +ft,#region +continent +code,#country +name,#country +code +iso2,...,#loc +municipality +name,#status +scheduled,#loc +airport +code +gps,#loc +airport +code +iata,#loc +airport +code +local,#meta +url +airport,#meta +url +wikipedia,#meta +keywords,#meta +score,#date +updated
1,6467,UKBB,large_airport,Boryspil International Airport,50.345001,30.894699,427,EU,Ukraine,UA,...,Boryspil,1,UKBB,KBP,NaN,https://kbp.aero/en/,https://en.wikipedia.org/wiki/Boryspil_Interna...,"Borispol, Міжнародний аеропорт ""Бориспіль"", Kyiv",1600,2022-11-20T09:05:31+00:00
2,6478,UKKK,medium_airport,Ihor Sikorsky Kyiv International Airport (Zhul...,50.40194,30.45194,587,EU,Ukraine,UA,...,Kyiv,1,UKKK,IEV,NaN,https://iev.aero/,https://en.wikipedia.org/wiki/Kyiv_Internation...,"Міжнародний аеропорт ""Київ"", Kiev",750,2022-11-20T09:02:37+00:00
3,6481,UKLL,large_airport,Lviv International Airport,49.8125,23.9561,1071,EU,Ukraine,UA,...,Lviv,1,UKLL,LWO,NaN,http://www.airport.lviv.ua/index.php?id=home&L=1,https://en.wikipedia.org/wiki/Lviv_Internation...,"Міжнародний аеропорт ""Львів""",1200,2021-08-01T05:06:08+00:00
4,6487,UKOO,medium_airport,Odessa International Airport,46.4268,30.6765,172,EU,Ukraine,UA,...,Odessa,1,UKOO,ODS,NaN,http://www.airport.od.ua/,https://en.wikipedia.org/wiki/Odessa_Internati...,"Odesa Central, Міжнародний аеропорт Одеса",750,2021-11-20T16:17:31+00:00

In [23]:

cleaned=air.drop(columns=["id","ident","elevation_ft","continent","country_name","iso_country","iso_region","local_region","scheduled_service","gps_code","iata_code","local_code","home_link","wikipedia_link","keywords","score","last_updated","municipality","region_name"])

renamed=cleaned.rename(columns={"latitude_deg":"latitude","longitude_deg":"longitude","type":"inf_type"})
renamed_clean=renamed.drop([0])

some_values=["small_airport","medium_airport","large_airport","heliport"]
air_clean=renamed_clean.loc[renamed_clean['inf_type'].isin(some_values)]

Airports = air_clean[['name', 'latitude','longitude','inf_type']]

Airports.to_csv("Infraestructura/CSV/Airports.csv",index=False)
Airports.head()

,name,latitude,longitude,inf_type
1,Boryspil International Airport,50.345001,30.894699,large_airport
2,Ihor Sikorsky Kyiv International Airport (Zhul...,50.40194,30.45194,medium_airport
3,Lviv International Airport,49.8125,23.9561,large_airport
4,Odessa International Airport,46.4268,30.6765,medium_airport
5,Simferopol International Airport,45.0522,33.975101,medium_airport

In [24]:
frames=[ciudades_1,ciudades_2,Airports]

df_merged = pd.concat(frames)

df_merged.sort_values(by=['name'],inplace=True)

df_merged.drop_duplicates('name', inplace = True)

df_merged.to_csv("Infraestructura/CSV/Infrastructure.csv",index=False)
df_merged.head()

                    name   latitude  longitude   inf_type population
23838           Abazivka  49.240414  35.318005  City/Town        NaN
18552          Abramivka  49.322218  34.955769  City/Town        NaN
2384   Abramivska Dolyna  48.514339  28.108829  City/Town        NaN
7493             Abramok   50.63895  27.909303  City/Town        NaN
8202             Abranka  48.733553  23.071787  City/Town        NaN

In [3]:
inf_df=cargar_infraestructura()

inf_df.head()

      name   latitude  longitude   inf_type population
0     Kyiv  50.450034  30.524136  City/Town    2962180
1  Kharkiv  49.992318  36.231015  City/Town    1433886
2   Odessa  46.484302  30.732288  City/Town    1015826
3   Dnipro  48.468022  35.041771  City/Town     980948
4  Donetsk  48.015875  37.801341  City/Town     905364

In [5]:
inf_df['Title_news_count'] = inf_df.apply(lambda _: '', axis=1)
inf_df['Description_news_count'] = inf_df.apply(lambda _: '', axis=1)  
inf_df['News_count_sum'] = inf_df.apply(lambda _: '', axis=1)

cities = list(inf_df.index.values)

inf_df.head()

,name,latitude,longitude,inf_type,population,Title_news_count,Description_news_count,News_count_sum
0,Kyiv,50.450034,30.524136,City/Town,2962180,,,
1,Kharkiv,49.992318,36.231015,City/Town,1433886,,,
2,Odessa,46.484302,30.732288,City/Town,1015826,,,
3,Dnipro,48.468022,35.041771,City/Town,980948,,,
4,Donetsk,48.015875,37.801341,City/Town,905364,,,

In [2]:
import requests
import json

def get_city_opendata(city, country):
    tmp = 'https://public.opendatasoft.com/api/records/1.0/search/?dataset=worldcitiespop&q=%s&sort=population&facet=country&refine.country=%s'
    cmd = tmp % (city, country)
    res = requests.get(cmd)
    dct = json.loads(res.content)
    out = dct['records'][0]['fields']
    return out

get_city_opendata('Berlin', 'de')

KeyError: 'records'