In [2]:
from python_files.functions import *
from python_files.libraries import *

In [150]:
"""
ciudades=pd.read_csv("./assets/Infrastructure/RAW/cities.csv",sep=";")

Ukraine_filtered=ciudades.loc[ciudades["Country Code"]=="UA"]

ciudades_rename=Ukraine_filtered.rename(columns={"Population":"population","Name":"name","Alternate Names":"alternate_names","Feature Code":"code"})

ciudades_rename[['latitude','longitude']] = ciudades_rename['Coordinates'].str.split(',',expand=True)

limpiar=[
        "Geoname ID",
        "ASCII Name",
        "Feature Class",
        "Elevation",
        "DIgital Elevation Model",
        "Timezone",
        "Modification date",
        "LABEL EN",
        "Country Code",
        "Country name EN",
        "Country Code 2",
        "Admin1 Code",
        "Admin2 Code",
        "Admin3 Code",
        "Admin4 Code",
        "Coordinates"
        ]
Ciudades=ciudades_rename.drop(columns=limpiar)

Ciudades.to_csv("./assets/Infrastructure/CSV/Cities.csv",index=False)
Ciudades.sample(5)
#"""

'\nciudades=pd.read_csv("./Assets/Infrastructure/RAW/cities.csv",sep=";")\n\nUkraine_filtered=ciudades.loc[ciudades["Country Code"]=="UA"]\n\nciudades_rename=Ukraine_filtered.rename(columns={"Population":"population","Name":"name","Alternate Names":"alternate_names","Feature Code":"code"})\n\nciudades_rename[[\'latitude\',\'longitude\']] = ciudades_rename[\'Coordinates\'].str.split(\',\',expand=True)\n\nlimpiar=[\n        "Geoname ID",\n        "ASCII Name",\n        "Feature Class",\n        "Elevation",\n        "DIgital Elevation Model",\n        "Timezone",\n        "Modification date",\n        "LABEL EN",\n        "Country Code",\n        "Country name EN",\n        "Country Code 2",\n        "Admin1 Code",\n        "Admin2 Code",\n        "Admin3 Code",\n        "Admin4 Code",\n        "Coordinates"\n        ]\nCiudades=ciudades_rename.drop(columns=limpiar)\n\nCiudades.to_csv("./Assets/Infrastructure/CSV/Cities.csv",index=False)\nCiudades.sample(5)\n#'

In [151]:
"""
air=pd.read_csv("./assets/Infrastructure/RAW/airports.csv")

air.rename(columns={"latitude_deg":"latitude","longitude_deg":"longitude","type":"code"},inplace=True)

air.drop([0],inplace=True)

some_values=["small_airport","medium_airport","large_airport","heliport"]
air_clean=air.loc[air['code'].isin(some_values)]

Airports=air_clean.drop(columns=["id","ident","elevation_ft","continent","country_name","iso_country","iso_region","local_region","scheduled_service","gps_code","iata_code","local_code","home_link","wikipedia_link","keywords","score","last_updated","municipality","region_name"])

Airports['code'] = Airports['code'].replace(['small_airport'], 'AIRF')
Airports['code'] = Airports['code'].replace(['medium_airport'], 'AIRM')
Airports['code'] = Airports['code'].replace(['large_airport'], 'AIRP')
Airports['code'] = Airports['code'].replace(['heliport'], 'AIRH')

Airports.to_csv("./assets/Infrastructure/CSV/Airports.csv",index=False)
Airports.sample(5)
#"""

'\nair=pd.read_csv("./Assets/Infrastructure/RAW/airports.csv")\n\nair.rename(columns={"latitude_deg":"latitude","longitude_deg":"longitude","type":"code"},inplace=True)\n\nair.drop([0],inplace=True)\n\nsome_values=["small_airport","medium_airport","large_airport","heliport"]\nair_clean=air.loc[air[\'code\'].isin(some_values)]\n\nAirports=air_clean.drop(columns=["id","ident","elevation_ft","continent","country_name","iso_country","iso_region","local_region","scheduled_service","gps_code","iata_code","local_code","home_link","wikipedia_link","keywords","score","last_updated","municipality","region_name"])\n\nAirports[\'code\'] = Airports[\'code\'].replace([\'small_airport\'], \'AIRF\')\nAirports[\'code\'] = Airports[\'code\'].replace([\'medium_airport\'], \'AIRM\')\nAirports[\'code\'] = Airports[\'code\'].replace([\'large_airport\'], \'AIRP\')\nAirports[\'code\'] = Airports[\'code\'].replace([\'heliport\'], \'AIRH\')\n\nAirports.to_csv("./Assets/Infrastructure/CSV/Airports.csv",index=False)\nAirports.sample(5)\n#'

In [152]:
"""
frames=[Ciudades,Airports]
df_merged = pd.concat(frames)

df_merged.sort_values(by=['name'],inplace=True)

df_merged.drop_duplicates('name', inplace = True)

df_merged.to_csv("./assets/Infrastructure/CSV/Infrastructure.csv",index=False)
df_merged.sample(5)
#"""

'\nframes=[Ciudades,Airports]\ndf_merged = pd.concat(frames)\n\ndf_merged.sort_values(by=[\'name\'],inplace=True)\n\ndf_merged.drop_duplicates(\'name\', inplace = True)\n\ndf_merged.to_csv("./Assets/Infrastructure/CSV/Infrastructure.csv",index=False)\ndf_merged.head(20)\n#'

In [166]:
inf_df=cargar_infraestructura()

inf_df.sample(5)

,name,alternate_names,code,population,latitude,longitude
470,Hradyzk,"Gradiz'k,Gradizhsk,Hradyzk,Градижск,Градизьк",PPL,6248.0,49.23943,33.13941
788,Kryvyy Rih,"KWG,Krivi Rih,Krivi Rog,Krivii Rih,Krivij Rig,...",PPLA2,624579.0,47.90572,33.39404
997,Mezenivka,"Mezenevka,Mezenivka,Mezenovka,Мезеновка,Мезенівка",PPL,1273.0,50.63486,35.31340
1915,Vasyliv,"Vasilau,Vasilev,Vasiliv,Vasilău,Vassyliv,Wasyl...",PPL,1229.0,48.60580,25.84324
539,Kairy,"Kairi,Kairy,Kayiry,Zapadnyye Kairy,Каїри",PPL,3364.0,46.94611,33.70519

In [81]:
inf_df['Title_news_count'] = inf_df.apply(lambda _: '', axis=1)
inf_df['Description_news_count'] = inf_df.apply(lambda _: '', axis=1)  
inf_df['News_count_sum'] = inf_df.apply(lambda _: '', axis=1)

cities = list(inf_df.index.values)

inf_df.head()

,name,alternate_names,code,population,latitude,longitude,Title_news_count,Description_news_count,News_count_sum
0,Abrikosovka,"Abrikosivka,Abrikosovka,Najman,Абрикосовка,Абр...",PPLA3,1079.0,45.107590,35.101390,,,
1,Abrikosovo,"Abrikosove,Abrikosovo,Ajgashen,Ordzhak-Dzhabu,...",PPLA3,778.0,45.692360,34.101560,,,
2,Adzhamka,"Adzhamka,Аджамка",PPL,3859.0,48.539730,32.535950,,,
3,Aeroclub Swallow,NaN,small_airport,NaN,48.812230,26.022577,,,
4,Aerodrom Belz,NaN,small_airport,NaN,50.377192,23.964880,,,

In [6]:
bashCommand="wget 'https://github.com/simonhuwiler/uawardata/blob/master/data/csv/btgs_all.csv' -O ./assets/Infrastructure/RAW/BTGs.csv"

os.system(bashCommand)

--2023-01-06 10:49:46--  https://github.com/simonhuwiler/uawardata/blob/master/data/csv/btgs_all.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘./assets/Infrastructure/RAW/BTGs.csv’

     0K .......... .......... .......... .......... ..........  175K
    50K .......... .......... .......... .......... ..........  510K
   100K .......... .......... .......... .......... ..........  928K
   150K .......... .......... .......... .......... ..........  767K
   200K .......... .......... .......... .......... .......... 1.40M
   250K .......... .......... .......... .......... ..........  367K
   300K .......... .......... .......... .......... .......... 1.47M
   350K .......... .......... .......... .......... .......... 1.40M
   400K .......... .......... .......... .......... .......... 1.67M
   450K .......... .......... .......... .......... .......... 1.85M
   500K .......... .......... .......... .......... ..         4.10M=0.8s

2023-01-06 10:49:48 (672 KB/s) - ‘./assets/Infrastructure/RAW/BTGs.csv’ saved [555977]

0

In [2]:
df = pd.read_csv('./assets/Infrastructure/RAW/btgs_all.csv')
df.head()

,date,lat,lng,unit,type_of_btg,country
0,2022-03-27,50.492187,30.166542,104th Guards Air Assault Regiment,vdv,ru
1,2022-03-27,50.646655,30.258347,137th Guards Airborne Regiment,vdv,ru
2,2022-03-27,50.568989,30.263795,51st Guards Airborne Regiment,vdv,ru
3,2022-03-31,50.723595,30.333666,45th Separate Guards Special Purpose Brigade,vdv,ru
4,2022-03-31,50.468224,30.024069,37th Separate Guards Motorized Rifle Brigade,motor_rifle,ru

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1112 non-null   object
 1   lat          1112 non-null   float64
 2   lng          1112 non-null   float64
 3   unit         1112 non-null   object
 4   type_of_btg  1112 non-null   object
 5   country      1112 non-null   object
dtypes: float64(2), object(4)
memory usage: 52.2+ KB

In [3]:
def histogram_intersection(a, b):
    v = np.minimum(a, b).sum().round(decimals=1)
    return v

df = pd.DataFrame([(.2, .3), (.0, .6), (.6, .0), (.2, .1)],
    columns=['dogs', 'cats'])

df.corr(method=histogram_intersection)

      dogs  cats
dogs   1.0   0.3
cats   0.3   1.0